        <title>Goonj</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="/javascripts/frontPage.js"></script>
        {{!-- <script type="text/javascript" src="jquery.hislide.js"></script> --}}
        {{!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>    --}}
        <link rel="stylesheet" type="text/css" href='/stylesheets/frontPage.css'>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
    
        <body data-spy="scroll" data-target=".navbar" data-offset="50">
            {{!-- <div class="container-fluid" style="background-color: black ;color:white; padding:1px">
                <p ><h2  style="float:right; margin-right: 50px;">Human , Environment And You</h2>
                    <h2 style="margin-left:20px;" >
                    Goonj</h2></p>
            </div>     --}}
                
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top ">  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home"><h4>Home</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features"><h4>Achievements</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#carriers"><h4>Supporters</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#location"><h4>Location</h4></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="order.html"><h4>Order</h4></a>
                          </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="loginC"><h4>Login</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index"><h4>Admin</h4></a>
                        </li>
                        
                    </ul>
                </div>
            </nav>


            <div id="home">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner">
                        <div class="carousel-item active animated rotateInUpRight">
                            <img class="d-block w-100" src="Images/ngo1.jpg" style="height:100vh;">
                            <div class="carousel-caption animated rotateInUpRight delay-1s">
                                <h1>We Educate them</h1>
                            </div>
                        </div>
                        <div class="carousel-item animated zoomInDown">
                            <img class="d-block w-100" src="Images/ngo2.jpg" style="height:100vh;">
                            <div class="carousel-caption animated zoomInDown delay-1s">
                                <h1>We fight for them</h1>
                            </div>
                        </div>
                        <div class="carousel-item animated jackInTheBox">
                            <img class="d-block w-100" src="Images/ngo4.jpg" style="height:100vh;">
                            <div class="carousel-caption animated jackInTheBox delay-1s">
                                <h1>We love them</h1>
                            </div>
                        </div>
                        <div class="carousel-item animated rollIn">
                                <img class="d-block w-100" src="Images/ngo3.jpg" style="height:100vh;">
                                <div class="carousel-caption animated rollIn delay-1s">
                                    <h1>We Support them</h1>
                                </div>
                        </div>      
                    </div>
                </div>
                <div class="container-fluid" style="background-color: white;padding-top:70px;padding-bottom: 70px;">
                    <img src="Images/ngo5.jpg" style="width:400px;height:300px;float:right;margin-right: 130px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" data-aos="fade-left">
                    <i class="fas fa-question-circle" data-aos="fade-right" style="font-size:50px;text-indent: 50px;">Our Work</i></br></br>
                    <i class="fas fa-share" data-aos="fade-right">Combating child labour and child trafficking</i></br>
                    <i class="fas fa-share" data-aos="fade-right">Educate Children</i></br>
                    <i class="fas fa-share" data-aos="fade-right">Support orphanages</i></br>
                    <i class="fas fa-share" data-aos="fade-right">Fullfill a child's daily needs</i></br>
                    <i class="fas fa-share" data-aos="fade-right">Provide Health support</i></br>
                    <i class="fas fa-share" data-aos="fade-right">Largest ngo in India</i></br>
                    <i class="fas fa-share" data-aos="fade-right">Give training to youth in various fields</i></br>
                </div>
                <div class="container-fluid" style="background-color: white;padding-top:70px;padding-bottom: 300px;">
                    <img src="Images/ngo6.jpg" style="width:400px;height:300px;float:left;margin-left: 130px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" data-aos="fade-right">
                    <i class="fas fa-question-gear" data-aos="fade-left" style="font-size:45px;text-indent: 50px;float:right;
                    margin-right:80px;">Foundation One , Support Many</i></br></br></br></br>
                    <i class="fas fa-sh" data-aos="fade-left"style="float:right;margin-right:80px;" >Goonj Foundation is an NGO in India directly benefitting </i></br> 
                    <i class="fas fa-sh" data-aos="fade-left"style="float:right;margin-right:80px;" > over 750,000 children and their families every year,  </i></br>                         
                    <i class="fas fa-sh" data-aos="fade-left"style="float:right;margin-right:80px;"> through more than 350 live welfare projects on education, </i></br>
                    <i class="fas fa-sh" data-aos="fade-left"style="float:right;margin-right:80px;">women empowerment, in over 1000 remote villages and slums </i></br>
                </div>
            </div>
            <div id="features" class="container-fluid" style="padding-top:50px;padding-bottom:50px;font-size:1vw;
            color: indianred;background-color: black;" >
                <div class="row" id="glow" style="font-family: 'Cookie',cursive">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Achievements which makes us best among all
                </div>
                <br>
                <div class="row" style="font-family: 'exo',sans-serif">
                    <div class="col-sm-3">
                        <div class="content-left text-right">
                            <div class="box-item left">
                                <div class="text">
                                    <h4>In Education</h4>
                                    <p style="color: white;">27710 Children were provided education accross 22 states in India </p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>Academics</h4>
                                    <p style="color: white;">100% of thechers receive training and academic methodologies ensuring
                                    n engaging environment for the children</p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>In Health</h4>
                                    <p style="color: white;">More than 1000 health campus were conducted to take care of health of children</p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>In livelihood</h4>
                                    <p style="color: white;">Over 25,000 trained youth placed and added to over countries workforce so far</p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>In Women Empowerment</h4>
                                    <p style="color: white;">Educational support was provided to 509 underprivilaged girls</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="Images/ngo7.jpg" data-aos="flip-left" class="img-fluid">
                    </div>
                    <div class="col-sm-3">
                            <div class="content-left text-right">
                                <div class="box-item left">
                                    <div class="text">
                                        <h4>In Award</h4>
                                        <p style="color: white;">We got Social Impact Award by pratigya</p>
                                    </div>
                                </div>
                                <div class="box-item left">
                                    <div class="text">
                                        <h4>Supporters</h4>
                                        <p style="color: white;">Full Support from our Prime Minister NARENDER MODI</p>
                                    </div>
                                </div>
                                <div class="box-item left">
                                    <div class="text">
                                        <h4>Child Abuse</h4>
                                        <p style="color: white;">Every year we rescue approx 10,000 children accross india and save them</p>
                                    </div>
                                </div>
                                <div class="box-item left">
                                    <div class="text">
                                        <h4>Child trafficking</h4>
                                        <p style="color: white;">Save the children works to combat child trafficking through prevention ,protection and prosecution </p>
                                    </div>
                                </div>
                                <div class="box-item left">
                                    <div class="text">
                                        <h4>Child Marriage</h4>
                                        <p style="color: white;">We send such children to schools and get their families arrest</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
            </div>
            <!-- background-image: url(Images/carback.jpg) -->
            <div id="carriers" class="container-fluid" style="background-color:azure;padding-top: 25px;padding-bottom: 40px;">
                <div class="row">
                    <div class="col-sm-12">
                        <p style="color:black;text-align: center;font-size: 60px;" data-aos="fade-right" >Supporters</p></br>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active ">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter1.jpg" style="width:50px;height:250px;border-radius: 50%;">
                                        </div>   
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter2.jpg" style="width:50px;height:250px;border-radius: 50%;">
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter3.jpg" style="width:50px;height:250px;border-radius: 50%;" >  
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter4.jpg" style="width:50px;height:250px;border-radius: 50%;" >  
                                        </div>
                                    </div>                         
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter5.jpg" style="height:250px;border-radius: 50%;">       
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter6.webp" style="width:50px;height:250px;border-radius: 50%;">
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter7.webp" style="width:50px;height:250px;border-radius: 50%;">
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter8.jpg" style="width:50px;height:250px;border-radius: 50%;">
                                        </div> 
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter9.jpg" style="width:50px;height:250px;border-radius: 50%;">       
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter10.jpg" style="width:50px;height:250px;border-radius: 50%;">
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter11.jpg" style="width:50px;height:250px;border-radius: 50%;">
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="d-block w-100" src="Images/supporter12.jpg" style="width:50px;height:250px;border-radius: 50%;">
                                        </div> 
                                    </div>
                                </div>    
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="location" style="padding-top:70px;padding-bottom:70px;background-color: whitesmoke">
                  <h1 style="text-align: center; " data-aos="fade-right">Reach To Us</h1>  
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14726.140622417268!2d72.8869815!3d22.671113749999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1570098768989!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0; margin: 50px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); border-radius: 20px;  " allowfullscreen=""></iframe>
                
                <div class="container-fluid" style="background-image: url(Images/map.jpg)">
                    <p style="font-size: 80px;text-align: center; text-shadow:3px 3px 10px black;" data-aos="fade-right">Our Main Centers</p>
                    <div class="row"  >
                        <div class="column" id="c1">
                            <img src="Images/location1.jpg" alt="Avatar" id="Limage" style="width:250px;height:200px;">
                                    <div class="text" id="t1"><h4>Mumbai(Bandra)</h4></div>
                        </div>
                        <div class="column" id="c1">
                                <img src="Images/location2.webp" alt="Avatar" id="Limage" style="width:250px;height:200px;">
                                    <div class="middle">
                                        <div class="text" id="t1"><h4>Delhi(Noida)</h4></div>
                                    </div>
                        </div>
                        <div class="column" id="c1">
                            <img src="Images/location3.jpg" alt="Avatar" id="Limage" style="width:250px;height:200px;">
                                <div class="middle">
                                    <div class="text" id="t1"><h4>Banglore(Domlur)</h4></div>
                                </div>
                        </div>
                        <div class="column" id="c1">
                                <img src="Images/location4.jpg" alt="Avatar" id="Limage" style="width:250px;height:200px;">
                                    <div class="middle">
                                        <div class="text"  id="t1"><h4>Vadodara(Gorwa)</h4></div>
                                    </div>
                        </div>
                    </div>
                    <br></br>
                </div>
            </div>
            <div id="feedback" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
            </div>
                       
    </body>

