<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="container-fluid" style="background-color: black ;color:white; padding:1px;">
                <p >
                    <h2 style="margin-left:20px;text-align:center;font-family: cursive;" data-aos="fade-right">
                    Goonj: Human,Environment and You</h2></p>
            </div>  
    {{{body}}}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                <script>
                AOS.init({
                    duration:2000,
                });
            </script>   
  </body>
</html>
