<a href="ordersC" class="btn btn-dark" style="margin-top:30px;margin-left:50px;background-color:black;">Back</a>
<h2 style="margin-left: 500px;margin-top:150px;font-family:cursive;">Thanks For Your Participation</h2>
<h2 style="margin-left: 100px;margin-top:50px;font-family:cursive;">Your are successfully registerd soon you will get confirmation call from us</h2>