<a href="/donarC" class="btn btn-dark" style="margin-top:30px;margin-left:50px;background-color:black;">Back</a>
<h2 style="margin-left: 500px;margin-top:150px;font-family:cursive;">Thanks For Your donation</h2>
<h2 style="margin-left: 300px;margin-top:50px;font-family:cursive;">Your money will be of great help to other people</h2>