<a href="/feedbackC" class="btn btn-dark" style="margin-top:30px;margin-left:50px;background-color:black;">Back</a>
<h2 style="margin-left: 500px;margin-top:150px;font-family:cursive;">Thanks For Your Feedback</h2>
<h2 style="margin-left: 300px;margin-top:50px;font-family:cursive;">If any improvement is needed we will look into it</h2>